@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
/* shaerd style  */
.display-flex{
    display: flex;
}
ul{
    list-style: none;
}
ul >li >a{
    text-decoration: none;
}
/* .logo-school{
    position: absolute;
    top: 20px;
    left: 141px;
} */
.cardd-1{
    background-color: #FFFFFF;
    background-image: linear-gradient(#DEF5FF, #FFFFFF);
}
.cardd-2{
    background-color: #FFFFFF;
    background-image: linear-gradient(#FFF4DC, #FFFFFF);
}
.cardd-3{
    background-color: #FFFFFF;
    background-image: linear-gradient(#F2E8FF, #FFFFFF);
}


/* utility class */
.container-h{
    max-width: 1400px;
    margin: auto;
    padding-inline: var(--padding-section);
    overflow: hidden;

}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
.nav-bar .main-nav {
       display: flex;
       align-items: center;
}

.nav-bar .logo-text{
    font-weight: bold;
    font-size: 1.5rem;
    color: #111111;
}
.nav-bar .nav-logo{
    align-items: center;
    /* justify-content: space-between; */
    font-weight: 400;
    font-size: 1.02rem;
}
.nav-logo{
    display: flex;
    gap: 32px;
}

.nav-bar #hamburger{
font-size: 30px;
display: none;
}
/* naver anchor color */
.cl-1{
    font-weight: 300;
    font-size: 1rem;
    color: #FEA301;
}
.cl-2{
    font-weight: 400;
    font-size: 1rem;
    color:  #01ACFD;
}
.cl-3{
    font-weight: 400;
    font-size: 1rem;
    color:  #05D4DF;
}
.cl-4{
    font-weight: 400;
    font-size: 1rem;
    color: #5D58EF;
}
.btn-praimary{
    height: 50px;
    width: 197px;
    color: #FFFFFF;
    font-size: 1.0rem;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
}
/* herder section */

header .header-section{
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1400px;
}
.head-title{
    font-weight: bold;
    font-size: 2.5rem;  
}
.color-1{
    color: #FEA301;
}
.color-2{
    color: #111111;
}
.color-3{
    color: #01ACFD;
}
.pera-1{
    font-weight: 300;
    font-size: 1.0rem;
    color: #111111;
}
.pera2{
    color: #FFFFFF;
}
.btn-2{
    width: 197px;
    height: 50px;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    background-color: #111111;
    font-weight: bold;
    font-size: 1.0rem;
    margin-top: 20px;

}
.right-header{
    width: 460px;
    height: 570px;
}
.font-text-2{
    font-weight: bold;
    font-size: 1.06rem; 
}
/* cart style section  */
.font-text{
    margin-top: 60px;
    background-image: url(../assets/bg.png);
    background-repeat: repeat;
    align-content: center;
    background-position-x: center;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 2.0rem;
    text-align: center;
}
/* buttons */
.btn-00{
    width: 174.51px;
    height: 47.93px;
    color: #FFFFFF;
    border: none;
    border-radius: 47.93px;
    background-color: #3CD8E8;
}
.btn-01{
    width: 174.51px;
    height: 47.93px;
    color: #FFFFFF;
    border: none;
    border-radius: 47.93px;
    background-color: #95B226;
}
.btn-02{
    width: 174.51px;
    height: 47.93px;
    color: #FFFFFF;
    border: none;
    border-radius: 47.93px;
    background-color: #5D58F0;
}
.btn-03{
    width: 174.51px;
    height: 47.93px;
    color: #FFFFFF;
    border: none;
    border-radius: 47.93px;
    background-color: #023ef0;
}
.btn-04{
    width: 174.51px;
    height: 47.93px;
    color: #FFFFFF;
    border: none;
    border-radius: 47.93px;
    background-color: #df00f3;
}
/* card container  */
.cardds-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
.cardd-section{
    background-image: url(../assets/bg.png);
}
.cardd{
    border-radius: 18.86px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cardd:hover {
    transform: translateY(-18px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}
.cardd a{
    text-decoration: none;
    font-size: 0.98rem;
    font-weight: bold;
}
.read-me-1{
    color: #64C8FF;
}
.read-me-2{
    color: #F0AA00;
}
.read-me-3{
    color: #8700FF;
}
/* font aowsome kit */
.navigation {
    text-align: center;
    margin-top: 50px;
  
}
.navigation button {
    background: #FEA301;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease;
}
.navigation button:hover {
    background: #6d4a03da;
}
/* our storis part */
.h2-11{
    text-align: center;
    font-size: 2.5rem;  
    font-weight: bold;
}

.stories{
    background-image: url("../assets/bg.png"), url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
     
    background-position: top center ;
    background-repeat: no-repeat;
    position: relative;

}
.stories .story-container{
    display: flex;
    max-width: 1160px;
    margin: auto;
    column-gap: 20px;
}

.stories::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1; 
}

.stories .right{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}

.stories .left img{
    width: 100%;
    border-radius: 16px 16px 0 0;
   
}

.stories .left{
    flex: 0.8;
    border-radius: 16px;
    border-radius: 16px;
    background-color: white;
}
.stories .left .description{
    padding: 20px;
    position: relative;
}

.stories .left button{
    position: absolute;
    top: -3px;
    left: 10%;
    transform: translateY(-50%);
}
.stories .cartt{
    border-radius: 16px;
     background-color: white;
    display: flex;
    flex-direction: column;
}

.stories .cartt img{
    border-radius: 16px 16px 0 0;
    width: 100%;
}

.stories .right  .description{
     position: relative;
     padding: 30px 20px;
     height: 100%;
}

.stories .cartt button{
    position: absolute;
    top: -3px;
    left: 10%;
    transform: translateY(-50%);
}
.stories .btn-11{
    /* margin-top: 80px; */
    width: 197px;
    height: 50px;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; 
    border: none;
    border-radius: 12px;
    background-color: #111111;
}

.stories marquee{
    font-size: 2rem;
    margin:50px  0 5px;
    font-weight: 700;
    color:  #536609;
}
/* footer section  */
.bg-blue{
    background-color: #0375aa;
}
.call{
    margin-top: -1px;
}
.footer-section{
    display: grid;
    color: #FFFFFF;
    grid-template-columns: repeat(3,1fr);
    max-width: 1400px;
    margin: auto;
    min-height: 400px;
  
}
.footer-section .no-2{
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.footer-section .no-3{
    flex: 1;  
    display: flex; 
    flex-direction: column; 
    align-items: end; 
    justify-content: center;
    text-align: center;
}
/* responsivedes */
@media screen and (max-width: 550px) {
    .nav-bar .logo-text{
      display: none;
    }
    .nav-bar .nav-logo{
        display: none;
    }
    .nav-bar{
        padding: 10px 20px;
    }

    .nav-bar .contact{
        display: none;
    }
    
    .nav-bar #hamburger{
        display: block;
    }
    header .header-section{
        flex-direction: column-reverse;
        padding: 10px 20px;
    }
    header .header-section img{
        width: 100%;
    }


     header .leftt-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
     }
    /* stories */

    .stories .left{
        display: none;
    }
    .stories{
        padding: 10px 20px;
    }
    .stories .right .cartt .description p{
         font-size: 15px;
    }
    .stories .right .cartt button{
        font-size: 15px;
        width: 120px;
   }
    /* footer */
    .footer-section {
        grid-template-columns: 1fr;
        padding: 10px 20px;
    }

    .footer-section .no-2{
        align-items: start;
    }
    .footer-section .no-3 {
        text-align: start;
    }
    
    .footer-section .no-3{
        align-items: start;
    }
}




    
